<div class="container">
<%= simple_form_for @list do |f| %>
  <h3>Add your new list</h3>
  <%= f.input :name  %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, label: "create my list", class: 'btn btn-success' %>
<% end %>
</div>
